# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# dotenv environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# IDE folders
.vscode/
.idea/

# React
client/build
client/node_modules
client/.env

# Others
coverage/
